.logo {
  width: 225px;
}

.navbar-nav .btn-outline-light:hover {
  background-color: #f3f6f9;
}

header {
  background: url(../images/header-background.jpg) center center no-repeat;
  background-size: cover;
}

.wave-decoration {
  fill: #f3f6f9;
}

@media (max-width: 1000px) {
  .hero .image-container {
    display: flex;
    justify-content: center;
  }
  .text-container h1 {
    text-align: center;
  }
}
