.logo {
  width: 225px;
}

.navbar-nav .btn-outline-light:hover {
  background-color: #f3f6f9;
}

.navbar {
  transition: all 0.2s ease-in-out;
}

.navbar-sticky {
  opacity: 0.95;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.6);
}

header {
  background: url(../images/header-background.jpg) center center no-repeat;
  background-size: cover;
}

.wave-decoration {
  fill: #f3f6f9;
}

@media (max-width: 1000px) {
  .hero .image-container {
    display: flex;
    justify-content: center;
  }
  .text-container h1 {
    text-align: center;
  }
}
